In [13]:
import numpy as np
import pandas as pd
from tqdm import tqdm

In [2]:
sample_submission = pd.read_csv('data/Sample_Submission_Values.csv')

In [3]:
sample_submission

             filename        Superhero
0    superhero_test_1          ant_man
1    superhero_test_2        super_man
2    superhero_test_3         iron_man
3    superhero_test_4          bat_man
4    superhero_test_5  captain_america
5    superhero_test_6       spider_man
6    superhero_test_7             hulk
7    superhero_test_8         avengers
8    superhero_test_9    black_panther
9   superhero_test_10        cat_woman
10  superhero_test_11         aqua_man
11  superhero_test_12       ghostrider

In [6]:
superhero = sample_submission['Superhero'].values
superhero

array(['ant_man', 'super_man', 'iron_man', 'bat_man', 'captain_america',
       'spider_man', 'hulk', 'avengers', 'black_panther', 'cat_woman',
       'aqua_man', 'ghostrider'], dtype=object)

In [11]:
np.random.choice(superhero)

'captain_america'

In [14]:
superhero_3375 = []
for i in tqdm(range(3375)):
    superhero_3375.append(np.random.choice(superhero))

100%|██████████████████████████████████████████████████████████████████████████| 3375/3375 [00:00<00:00, 306753.98it/s]

In [16]:
len(superhero_3375)

3375

In [20]:
sample_submission_3375 = pd.read_csv('data/Superhero_3375_SampleSubmission.csv')

In [21]:
sample_submission_3375.head()

                 filename        Superhero
0        superhero_test_1          ant_man
1        superhero_test_2        super_man
2        superhero_test_3         iron_man
3        superhero_test_4          bat_man
4        superhero_test_5  captain_america
5        superhero_test_6       spider_man
6        superhero_test_7             hulk
7        superhero_test_8         avengers
8        superhero_test_9    black_panther
9       superhero_test_10        cat_woman
10      superhero_test_11         aqua_man
11      superhero_test_12       ghostrider
12      superhero_test_13       ghostrider
13      superhero_test_14       ghostrider
14      superhero_test_15       ghostrider
15      superhero_test_16       ghostrider
16      superhero_test_17       ghostrider
17      superhero_test_18       ghostrider
18      superhero_test_19       ghostrider
19      superhero_test_20       ghostrider
20      superhero_test_21       ghostrider
21      superhero_test_22       ghostrider
22      superhero_test_23       ghostrider
23      superhero_test_24       ghostrider
24      superhero_test_25       ghostrider
25      superhero_test_26       ghostrider
26      superhero_test_27       ghostrider
27      superhero_test_28       ghostrider
28      superhero_test_29       ghostrider
29      superhero_test_30       ghostrider
...                   ...              ...
3345  superhero_test_3346       ghostrider
3346  superhero_test_3347       ghostrider
3347  superhero_test_3348       ghostrider
3348  superhero_test_3349       ghostrider
3349  superhero_test_3350       ghostrider
3350  superhero_test_3351       ghostrider
3351  superhero_test_3352       ghostrider
3352  superhero_test_3353       ghostrider
3353  superhero_test_3354       ghostrider
3354  superhero_test_3355       ghostrider
3355  superhero_test_3356       ghostrider
3356  superhero_test_3357       ghostrider
3357  superhero_test_3358       ghostrider
3358  superhero_test_3359       ghostrider
3359  superhero_test_3360       ghostrider
3360  superhero_test_3361       ghostrider
3361  superhero_test_3362       ghostrider
3362  superhero_test_3363       ghostrider
3363  superhero_test_3364       ghostrider
3364  superhero_test_3365       ghostrider
3365  superhero_test_3366       ghostrider
3366  superhero_test_3367       ghostrider
3367  superhero_test_3368       ghostrider
3368  superhero_test_3369       ghostrider
3369  superhero_test_3370       ghostrider
3370  superhero_test_3371       ghostrider
3371  superhero_test_3372       ghostrider
3372  superhero_test_3373       ghostrider
3373  superhero_test_3374       ghostrider
3374  superhero_test_3375       ghostrider

[3375 rows x 2 columns]

In [22]:
sample_submission_3375['Superhero'] = superhero_3375

In [25]:
sample_submission_3375.head()

           filename      Superhero
0  superhero_test_1     spider_man
1  superhero_test_2      cat_woman
2  superhero_test_3      cat_woman
3  superhero_test_4      super_man
4  superhero_test_5  black_panther

In [28]:
sample_submission_3375.to_csv('submit.csv', index=False)

In [27]:
sample_submission_3375.to_csv?